.header-content ul{
    padding: 0px;
}
.header-content ul li{
    float: left;
    display: inline;
    margin: 0px;
}
.header-content ul li:nth-child(2){
    margin-left: 250px;
}
.header-content ul li:nth-child(3){
    float: right;
    margin-right: 25px;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
}
#login{
    color:black;
    font-size: 20px;
}
#login:hover{
    color: rgb(1, 11, 128);
    background-color: rgba(1, 12, 128, 0.158);
    
}
a:hover{
    color: rgb(223, 219, 219);
}
.nav {
    margin: 0px;
    position: sticky; 
    z-index: 1;
    width:100%;
    top: -90px;
}
.nav ul{  
    float:right;
    background-color:rgb(1, 11, 128);
    width:100%;
    margin:0px;
    padding: 10px;
}
.nav ul li:nth-child(1){
    float:left;  
    font-size: 25px;
    margin-left:25px;
}
.nav ul li{
    float: right;
    display: initial;
    color: white;
    padding-right:25px;
    font-size: 20px;
}
body {
    margin: 0px;
    background-color:white;
}
.page1{
    width: 100%;
    margin: 0px auto;
    position: relative;
    left: 0px;
    top: 0;
    height: 900px;
    text-align: center;
}
.page1 img{
    width: 100%;
    margin:0px auto;
}
.content{
    margin: 0px auto;
    text-align: center;
    width: 600px;
    position: relative;
    float: right;
    top: -30%;
    color: white;
}
.companies h1{
    font-size: 40px;
}
.Details{
    position: relative;
    width: 100%;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* background-color:rgb(99, 99, 99); */
    height: 450px;
    background-image: url(../IMG/BackgroundImg.png);
}
.text{
    color: white;
    margin-top: 40px;
}

.set1, .set2,.set3{
    width: 33.3%;
    margin:0px auto;
    position: relative;
    text-align: center;
    float: left;
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.develop h1, .deploy h1, .design h1{
background-color: rgb(126, 178, 170);
border-radius: 10px;
color: white;
margin-left: 20px;
margin-right: 20px;
}
.develop, .deploy, .design{  
    padding:20px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.719);
    box-sizing: border-box;
    border-radius: 25px;
    color: black;
    box-shadow: 0px 5px rgb(73, 72, 72)
}
.develop:hover, .deploy:hover, .design:hover{
box-shadow: none;
}
.develop img:hover, .deploy img:hover, .design img:hover{
    height:250px;
    width: 260px;
    margin-left: -10px;
}
.develop img,.design img, .deploy img{
    margin-top:15px;
    height: 200px;
    width:  200px;

}

.ProductDescription img{
    width: 100%;
}
.Partners{
    position: relative;
    top:100px;
    height: 300px
}
.companies{
    width:100%;
}
.partner1, .partner2, .partner3, .partner4{
    float: left;
    position: relative;
    width:25%;
    height: inherit;
    padding:10px;
    box-sizing: border-box;
    padding-top: 0px;
}

.partner_content{
    text-align: center;
    padding: 20px;   
}
.companyLogo{
    padding:10px;

}
.Partnercontent{
    margin: 0px auto;
    text-align: center;
    width: 600px;
    position: relative;
    /* float: right; */
    top: -25%;
    color: black;
}
.footer{
    position: relative;
    margin-top: 200px;  
    top:100px;
    height: 60px;
    background-color:rgb(1, 11, 128);
}
.footer ul{
    display: inline; 
    text-decoration: none;
}
.footer ul li{
    margin-right: 25px;
    display: initial;
    float: right;
    color: white;
    font-size: 20px;
}


.AboutAuthor{
    width:1000px;
    margin: 0px auto;
    text-align: center;  
    height: fit-content; 
    position: relative;
    top:50px;   

}
.AuthorContent ul{
    text-decoration: none;
}
.AuthorContent li{
    padding: 10px;
    font-size: 15px;
}
.AuthorContent p{
    font-size: 18px;
}
.header{
    text-align: center;
}
#header{
    color: white;
    text-align: center;
}
.AuthorPic{
    
    width:40%;
    float: left;
}
.Part1{
    height: 600px;
    position: relative;
}

.AuthorPic img{
    height: 200px;
    width:80%;
    margin-bottom: 20px;
}
.AuthorContent {
    position: relative;
    width: 90%;
    margin-left: 35px;
    text-align: left;
}
.content2{
    top: 300px;
    position: relative;
    text-align: left;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0px auto;
    background-color: rgb(186, 204, 221);
    height: 500px;
  
    
}
#copanyDetails{
    padding-top: 50px;
}
.content2 p{
    font-size: 18px;
}
.content2 ul li{
    padding:10px;
    font-size: 15px;
}
.content2 ul{
    text-decoration: none;
}
.team{
    position: relative;
     height: 550px; 
    top: 100px;
    padding-top: 50px;
    width: 100%;
    margin:0px auto;
    margin-top: 200px;
    background-color: rgb(44, 88, 159);

}
.team-heading{
    /* background-color: whitesmoke; */
}
.mate1, .mate2, .mate3{
    float: left;
    position: relative;
    width:33.3%;
    box-sizing: border-box;
    height: 450px;
    padding: 50px;
    padding-top: 20px;
    text-align: center;
    /* background-color: whitesmoke; */
    
}
.mate1-bio, .mate2-bio, .mate3-bio{
    text-align: center;
    height: 350px;
    width: 300px;
    margin: 0px auto;
    box-sizing: border-box; 
    background-color: white;
    border-radius: 25px; 
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 3px rgb(170, 169, 169);
}
.mate1-bio:hover, .mate2-bio:hover, .mate3-bio:hover{
    box-shadow: none;
}
.mate1-bio img, .mate2-bio img, .mate3-bio img{
   margin-top: 20px;
    height: 150px;
    width: 150px;
}
.footer{
    position: relative;
    height: 50px;
    background-color:rgb(1, 11, 128);
}
.footer ul{
    
    display: inline; 
    text-decoration: none;
}
.footer ul li{
    
    margin-right: 25px;
    display: initial;
    float: right;
    color: white;
    font-size: 20px;
    height:15px;
}

